@font-face {
  font-family: 'Lakki Reddy';
  font-style: normal;
  font-weight: 400;
  src: local('Lakki Reddy'), local('LakkiReddy'), url(https://fonts.gstatic.com/s/lakkireddy/v4/S6u5w49MUSzD9jlCPmvLZTfvzdg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-family: Lakki Reddy;
}

.title {
	font-family: Lakki Reddy;
	font-size: 30px;
	text-align:center;
}

.footer, pre {
	font-family: Lakki Reddy;
	text-align: center;
	font-size: 25px;
}

a:link {
	padding-right: 40px;
	font-size: 25px;
	color: green;
}

a:visited {
	color: #99895d;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}
